@using Creuna.ResourceEditor.App_Start
<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    @Styles.Render(BundleConfig.EditorStylesBundlePath)
    @Scripts.Render("~/resource-editor/libs/jquery-1.8.3")
    @Scripts.Render("~/resource-editor/libs/knockout-3.1.0")
    @Scripts.Render("~/resource-editor/libs/jquery.iframe-transport")
    @Scripts.Render("~/resource-editor/libs/FileSaver")
    <title>@ViewBag.Title</title>
</head>
<body>
    @RenderBody()
    @RenderSection("scripts", false)
</body>
</html>
