@using Creuna.EPiCodeFirstTranslations.Presentation.Enums
@using Creuna.ResourceEditor.Helpers
@using Enums2 = Creuna.EPiCodeFirstTranslations.Presentation.Enums2
@model Creuna.EPiCodeFirstTranslations.Presentation.ViewModels.Pages.FrontPageViewModel

@{
    ViewBag.Title = "title";
}

<h2>@Model.Header</h2>
<p>Hello text is "@Html.Translation(t => t.Texts.Hello)"</p>
<p>Bye test is "@Html.Translation(t => t.Texts.Bye)"</p>

<p>Ok label is " @Html.Translation(t => t.Labels.Ok)"</p>
<p>Save label is "@Html.Translation(t => t.Labels.Save)"</p>
<p>Cancel label is "@{Html.RenderTranslation(t => t.Labels.Cancel);}"</p>
<p>@Html.TranslationFormat(t => t.Formats.SearchCount, 10) </p>

<h2>Enum Translations</h2>

<h4>Gender</h4>
<p>Male is: "@Html.TranslationForEnumValue(Gender.Male)"</p>
<p>Female is: "@Html.TranslationForEnumValue(Gender.Female)"</p>

<h4>Gender from enums2</h4>
<p>Male is: "@Html.TranslationForEnumValue(Enums2.Gender.Male)"</p>
<p>Female is: "@Html.TranslationForEnumValue(Enums2.Gender.Female)"</p>

<h4>Position</h4>
<p>Top is: "@Html.TranslationForEnumValue(Position.Top)"</p>
<p>Bottom is: "@Html.TranslationForEnumValue(Position.Bottom)"</p>
<p>TopLeft is: "@Html.TranslationForEnumValue(Position.TopLeft)"</p>
<p>TopRight is: "@Html.TranslationForEnumValue(Position.TopRight)"</p>

<h4>Season</h4>
<p>None is: "@Html.TranslationForEnumValue(Season.None)"</p>
<p>Spring is: "@Html.TranslationForEnumValue(Season.Spring)"</p>
<p>All ywar contains Spring: @Season.AllYear.HasFlag(Season.Spring)</p>

<p>Summer is: "@Html.TranslationForEnumValue(Season.Summer)"</p>
<p>Autumn is: "@Html.TranslationForEnumValue(Season.Autumn)"</p>
<p>Winter is: "@Html.TranslationForEnumValue(Season.Winter)"</p>
<p>AllYear is: "@Html.TranslationForEnumValue(Season.AllYear)"</p>

@using (new LanguageSwitcher("sv"))
{
    <p> SV Season.None is: @Html.TranslationForEnumValue(Season.None) </p>
}